html {
  box-sizing: border-box;
  font-size: 16px;
  width: 550px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}

.title {
  font-size: 14px;
  letter-spacing: -7.5%;
}

.location--card {
  display: flex;
  padding: 20px;
  width: 500px;
  gap: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.location--img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.location--map {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.65rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b283a;
  letter-spacing: 2px;
}

.location--map > span {
  color: #918e9b;
  text-transform: capitalize;
  letter-spacing: 0px;
  text-decoration: underline;
  margin-left: 10px;
}

.location--title {
  margin: 7px 0;
  padding-bottom: 5px;
  font-weight: bold;
}

.location--date {
  font-size: 0.65rem;
  font-weight: bold;
  margin-bottom: 9px;
}

.location--description {
  font-size: 0.65rem;
  color: #2b283a;
}
